# Colecciones

1. Tuplas
2. Conjuntos
3. Diccionarios

# Estructuras de Datos

- Pilas
- Colas

## 1. Tuplas

Son inmutables, se utilizan para que determinados datos no se puedan modificar. Ademas su usa para devolver valores inmutables

### Sintaxis
tupla = () -> Se declara haciendo uso de los parentesis

Las tuplas soportan cualquier tipo de dato en su interior, y se pueden consultar mediante index o slicing

In [25]:
tupla = (100, "Python", 'J', 23, [1,2,3,4,5], -50, 20, "Python")

In [3]:
tupla

(100, 'Pyhton', 'J', 23, [1, 2, 3, 4, 5], -50)

POdemos consultar los elementos de las tuplas

In [4]:
tupla[0]

100

In [6]:
# Podemos hacer uso  de Slicing
tupla[1:4]

('Pyhton', 'J', 23)

In [7]:
tupla[-1]

-50

In [10]:
# Podemos acceder a los elementos de la lista interna de la tupla
tupla[4][-1]

5

In [11]:
# Las tuplas no se pueden modificar
tupla[1] = 443

TypeError: 'tuple' object does not support item assignment

In [12]:
# Podemos concer la longitud
len(tupla)

6

In [13]:
# Conocemos la longitud de la lista interna de la tupla
len(tupla[4])

5

Metodos para hacer uso de la tupla

In [14]:
# .index para buscar un elemnto y saber su posicion
# Buscamos el elemento y nos retorna su posicion
tupla.index(100)

0

In [16]:
tupla.index(-50) # Retorna que esta en la posicion 5

5

In [18]:
tupla.index("Hola") # Retorna un error por que no encuentra esa cadena que le enviamos a buscar

ValueError: tuple.index(x): x not in tuple

Metodo count()

In [23]:
# Nos permite contar cuantas veces se repite el elemento a buscar en la tupla
tupla.count(100) # Retorna que el valor solo aparece una vez en la tupla

1

In [26]:
tupla.count("Python") # Buscamos cuantas vaces aparece la cadena "Pyhton" en la lista

2

In [27]:
tupla.count("cadena") # en este caso le enviamos una cadena que no se encuentra

0

Metodo appen

In [29]:
tupla.append(10) # Para las tuplas esto no es posible, debido a que son inmutables

AttributeError: 'tuple' object has no attribute 'append'

## 2. Conjuntos

Los conjuntos son colecciones desordenadas de elementos unicos, se utiliza normalmente para hacer pruebas de pertenencia a grupos y eliminacion de elementos duplicados

Soportan operaciones matematicas avanzadas

In [32]:
conjunto = set() # Declaramos un conjunto vacio

In [33]:
conjunto

set()

la sintaxis para crear un conjunto con elementos

In [36]:
conjunto = {1,2,3,4,5}
conjunto

{1, 2, 3, 4, 5}

**El orden en los conjuntos no se conserva**

**Metodo Add**

In [39]:
conjunto.add(6) # Añadimos el elemento 6

In [41]:
conjunto # el elemento se añade al final

{1, 2, 3, 4, 5, 6}

In [42]:
conjunto.add(0)

In [43]:
conjunto # Se pone al principio del conjunto

{0, 1, 2, 3, 4, 5, 6}

In [44]:
conjunto.add("P")

In [45]:
conjunto

{0, 1, 2, 3, 4, 5, 6, 'P'}

In [46]:
conjunto.add("A")

In [47]:
conjunto.add("Z")

In [49]:
conjunto # Lo rodena sin cumplir un orden preestablecido

{0, 1, 2, 3, 4, 5, 6, 'A', 'P', 'Z'}

Los conjuntos son utiles para comprobar pertenencia a grupos

In [51]:
personas = {"Hector", "Juan", "Mario"}

In [52]:
"Hector" in personas

True

In [53]:
"Maria" in personas

False

In [54]:
"Hector" not in personas

False

In [58]:
test = {"Hector", "Hector", "Hector"} # Los conjuntos eliminan los elementos duplicados
test

{'Hector'}

In [59]:
numeros = {1,2,3,4,42,1,1,2,3,5,76}
numeros

{1, 2, 3, 4, 5, 42, 76}

**Podemos pasar una lista a conjuntos para quitar duplicados**

In [60]:
lista = [1,2,3,4,1,2,3,4,5,6,7,4,2,3]
lista

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 4, 2, 3]

In [61]:
conjunto = set(lista) # Le enviamos por parametro la lista para convertirlo a conjunto

In [63]:
conjunto # Como vemos elimina los duplicados

{1, 2, 3, 4, 5, 6, 7}

**Ahora convertimos de Conjunto a Lista, luego de limpiar duplicados**

In [64]:
lista = list(conjunto)

In [65]:
lista

[1, 2, 3, 4, 5, 6, 7]

In [68]:
# Podemos hacer en una sola linea la conversion
lista = [1,2,3,1,2,3,4,5,3,4,5]
lista = list(set(lista)) # Convertimos internamente a conjunto para quitar duplicados y luego a lista nuevamente
lista

[1, 2, 3, 4, 5]

In [69]:
# Tambien funciona con caracteres
cadena = "Al pan pan y al vino vino"

In [71]:
# Lo pasamos a conjunto y lo separa en letras como elementos del conjunto, sin repetir elementos
set(cadena)

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}